<%= form_with(model: guild) do |form| %>
	<div class="field">
		<%= form.label :name %>
		<%= form.text_field :name %>
		<%= form.error_for :name %>
	</div>

	<div class="field">
		<%= form.label :anagram %>
		<%= form.text_field :anagram %>
		<%= form.error_for :anagram %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
