<p id="notice"><%= notice %></p>

<%= link_to raw("Invitations (<b>" + current_user.receive_invites.where(state: "waiting").count.to_s + "</b>)"), invitations_guilds_path %>


<h1>Guilds</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Anagram</th>
      <th scope="col">Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guilds.each do |guild| %>
      <tr>
        <td><%= guild.name %></td>
        <td><%= guild.points %></td>
        <td><%= guild.anagram %></td>
        <td><%= create_user_link(guild.owner) %></td>
        <td><%= link_to 'Show', guild %></td>
		<% if guild.owner == current_user %>
			<td><%= link_to 'Edit', edit_guild_path(guild) %></td>
			<td><%= link_to 'Destroy', guild, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw('New Guild<br>'), new_guild_path unless current_user.guild %>
