<p id="notice"><%= notice %></p>

<h1>Guilds' invitations</h1>
<br>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">By</th>
			<th scope="col">Date</th>
			<th scope="col">State</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @invits.each do |invit| %>
			<tr>
				<td><%= invit.guild.name %></td>
				<td><%= create_user_link(invit.by) %></td>
				<td><%= create_timeago(invit.updated_at) %></td>
				<td><%= invit.state %>
				<% if invit.state == "waiting" %>
					<td><%= link_to 'Accept', invitationspost_guilds_path(invit, invitations: {state: "accepted"}), method: :patch, data: { confirm: 'Accepts an invitation replace your current guild! Are you sure?' }, remote: true %></td>
					<td><%= link_to 'Decline', invitationspost_guilds_path(invit, invitations: {state: "rejected"}), method: :patch, remote: true %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'Back', guilds_path %>
