<h1 class="guild-name">
        <%= @guild.name %>
</h1>

<p id="notice"><%= notice %></p>

<% if @guild.owner == current_user %>
        <%= link_to 'Officers', guild_officers_path(@guild) %>
<% end %>
<% if @guild.officers.include?(current_user) %>
        <%= link_to 'Members', guild_members_path(@guild) %>
<% end %>

<p>
	<strong>Points:</strong>
	<%= @guild.points %>
</p>

<p>
	<strong>Anagram:</strong>
	<%= @guild.anagram %>
</p>

<p>
	<strong>Owner:</strong>
	<%= link_to @guild.owner.nickname, profile_path(@guild.owner) %>
</p>

<p>
	<strong>Officers:</strong>
	<% @guild.officers.each do |officer| %>
		<%= link_to officer.nickname, profile_path(officer) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_guild_path(@guild) if @guild.owner == current_user %> |
<%= link_to 'Back', guilds_path %>
