<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guild.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @guild.points %>
</p>

<p>
  <strong>Anagram:</strong>
  <%= @guild.anagram %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @guild.owner.nickname %>
</p>

<%= link_to 'Edit', edit_guild_path(@guild) if @guild.owner == current_user %> |
<%= link_to 'Back', guilds_path %>
