<h1 class="guild-name">
        <%= @guild.name %>
</h1>

<p id="notice"><%= notice %></p>

<% if @guild.owner == current_user %>
        <%= link_to 'Officers', guild_officers_path(@guild) %>
<% end %>
<% if @guild.officers.include?(current_user) %>
        <%= link_to 'Members', guild_members_path(@guild) %>
        <%= link_to 'Invitations', guild_invites_path(@guild) %>
<% end %>

<p>
	<strong>Points:</strong>
	<%= @guild.points %>
</p>

<p>
	<strong>Anagram:</strong>
	<%= @guild.anagram %>
</p>

<p>
	<strong>Owner:</strong>
	<%= create_user_link(@guild.owner) %>
</p>

<p>
	<strong>Officers:</strong>
	<ul class="list-group col-3">
		<% (@guild.officers - [@guild.owner]).each do |officer| %>
			<li class="list-group-item"><%= create_user_link(officer) %></li>
		<% end %>
	</ul>
</p>

<p>
	<strong>Members:</strong>
	<ul class="list-group col-3">
	<% (@guild.members - @guild.officers).each do |member| %>
		<li class="list-group-item"><%= create_user_link(member) %></li>
	<% end %>
	</ul>
</p>

<%= link_to raw('Wars<br>'), guild_wars_path(@guild) %>

<%= link_to raw('Edit<br>'), edit_guild_path(@guild) if @guild.owner == current_user %>
<%= link_to raw('Leave officers<br>'), guild_officer_path(@guild, current_user, back: true), method: :delete, remote: true if @guild.officers.include?(current_user) and @guild.owner != current_user %>
<%= link_to raw('Leave guild<br>'), guild_member_path(@guild, current_user, back: true), method: :delete, remote: true if @guild.members.include?(current_user) and @guild.officers.exclude?(current_user) %>
<%= link_to 'Back', guilds_path %>
