<p id="notice"><%= notice %></p>

<h1>Guild Invites</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
	  <th>By</th>
	  <th>State</th>
	  <th>Last Modification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guild_invites.each do |guild_invite| %>
      <tr>
        <td><%= create_user_link(guild_invite.user) %></td>
        <td><%= create_user_link(guild_invite.by) %></td>
		<td><%= guild_invite.state %></td>
        <td><%= create_timeago(guild_invite.updated_at) %></td>
		<% if guild_invite.state == "waiting" %>
			<td><%= link_to 'Destroy', guild_invite_path(@guild, guild_invite), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guild Invite', new_guild_invite_path %> |
<%= link_to 'Back', @guild %>
