<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= create_user_link(@guild_invite.user) %>
</p>

<p>
  <strong>By:</strong>
  <%= create_user_link(@guild_invite.by) %>
</p>

<p>
  <strong>Last update:</strong>
  <%= create_timeago(@guild_invite.updated_at) %>
</p>

<%= link_to 'Back', :back %>
