<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @guild_invite.user.nickname %>
</p>

<p>
  <strong>By:</strong>
  <%= @guild_invite.by.nickname %>
</p>

<p>
  <strong>Last update:</strong>
  <%= create_timeago(@guild_invite.updated_at) %>
</p>

<%= link_to 'Back', :back %>
