<h1>Edit profile</h1>

<%= form_for(@profile, :as => "profile", url: profile_path(@profile), remote: true) do |form| %>
	<% if @profile.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@profile.errors.count, "error") %> prohibited this modification from being saved:
			</h2>
			<ul>
				<% @profile.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :nickname %><br>
		<%= form.text_field :nickname %>
	</p>

	<p>
		<%= form.label :profile_pic %><br>
		<%= form.file_field :profile_pic %>
		<img src="<%= url_for(@profile.profile_pic) %>" style="max-height: 100px; max-width: 100px;">
	</p>

	<br><br>

	<% unless @profile.nickname.blank? %>
		<p>
			<% if @profile.otp_required_for_login == true %>
				<%= form.label :otp_required_for_login %>
				<%= form.check_box :otp_required_for_login %>
			<% else %>
				<%= raw(@svg_otp) %>
				<%= label_tag :otp_code %>
				<%= text_field_tag :otp_code %>
				<p>
					Secret: 
					<%= @profile.otp_secret %>
				</p>
			<% end %>
		</p>
	<% end %>

	<p>
		<%= form.submit %>
	</p>

<% end %>
