<h1>Edit profile</h1>

<%= form_with(model: @profile, url: profile_path(@profile)) do |form| %>
	<p>
		<%= form.label :nickname %><br>
		<%= form.text_field :nickname %>
		<%= form.error_for :nickname %>
	</p>

	<p>
		<%= form.label :profile_pic %><br>
		<%= form.file_field :profile_pic %>
		<br>
		<br>
		<img src="<%= url_for(@profile.profile_pic) %>" style="max-height: 100px; max-width: 100px;">
		<%= form.error_for :profile_pic %>
	</p>

	<br><br>

	<% unless @profile.nickname.blank? %>
		<p>
			<% if @profile.otp_required_for_login == true %>
				<%= form.label :otp_required_for_login %>
				<%= form.check_box :otp_required_for_login %>
			<% else %>
				<%= raw(@svg_otp) %>
				<%= label_tag :otp_code %>
				<%= text_field_tag :otp_code %>
				<p>
					Secret: 
					<%= @profile.otp_secret %>
				</p>
			<% end %>
		</p>
	<% end %>

	<p>
		<%= form.submit %>
	</p>

<% end %>
