<h1><%= @profile.nickname %> profile</h1>

<p>
	Member since <b><%= @profile.created_at %></b>
</p>

<p>
	42 login <b><%= @profile.login %></b>
</p>

<p>
	Nickname <b id="nickname"><%= @profile.nickname %></b>
</p>

<% if @profile.guild %>
	<p>
		Guild <b><%= @profile.guild.name %></b>
	</p>
<% end %>

<button id="game_invite">Invite to play</button>
<br>

<% if current_user == @profile %>
	<%= link_to 'Edit', edit_profile_path(@profile) %>
<% elsif current_user.friends.exclude?(@profile) %>
<% end %>
