<h1><%= @profile.nickname %> profile</h1>

<p>
	Member since: <b><%= @profile.created_at %></b>
</p>

<p>
	42 login: <b><%= @profile.login %></b>
</p>

<p>
	Nickname <b id="nickname"><%= @profile.nickname %></b>
</p>

<% if @profile.guild %>
	<p>
		Guild: <b><%= @profile.guild.name %></b>
	</p>
<% end %>

<% if current_user != @profile %>
	<p>
		<button id="game_invite">Invite to play</button>
	</p>
<% end %>

<% if current_user == @profile %>
	<p>
		otp required: <b><%= @profile.otp_required_for_login == true %></b>
	</p>

	<%= link_to 'Edit', edit_profile_path(@profile) %>
<% elsif current_user.friends.exclude?(@profile) %>
	<%= link_to 'Add to friend', profile_friends_path(current_user, friendship: {friend_b_id: @profile}), method: :post, remote: true %>
<% end %>

<br><hr>

<h3>Match history</h3>

<table style="text-align: center;">
	<thead>
		<tr>
			<th>Player 1</th>
			<th></th>
			<th></th>
			<th></th>
			<th>Player 2</th>
			<th>Date</th>
		</tr>
	</thead>

	<tbody>
		<% @matchs_history.each do |match| %>
			<tr>
				<td><%= set_bold(match.player1.nickname, match.player1, match.winner) %></td>
				<td><%= set_bold(match.player1_pts, match.player1, match.winner) %></td>
				<td>-</td>
				<td><%= set_bold(match.player2_pts, match.player2, match.winner) %></td>
				<td><%= set_bold(match.player2.nickname, match.player2, match.winner) %></td>
				<td><%= match.updated_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>
