<h1><%= @user.nickname %> profile</h1>

<p>
	Member since <b><%= @user.created_at %></b>
</p>

<p>
	42 login <b><%= @user.login %></b>
</p>

<p>
	Nickname <b><%= @user.nickname %></b>
</p>

<% if @user.guild %>
	<p>
		Guild <b><%= @user.guild.name %></b>
	</p>
<% end %>

<% if current_user == @user %>
	<%= link_to 'Edit', edit_profile_path(@user) %>
<% elsif current_user.friends.exclude?(@user) %>
<% end %>
