<h1><%= @profile.nickname %>'s profile</h1>

<p>
	Member since: <b><%= create_timeago(@profile.created_at) %></b>
</p>

<% if @profile != current_user %>
	<p>
		Status: <b><%= @profile.state %></b>
	</p>
<% end %>

<p>
	42 login: <b><%= @profile.login %></b>
</p>

<p>
	Nickname: <b id="profil_nickname"><%= @profile.nickname %></b>
</p>

<p>
	Rank: <b><%= @profile.rank %></b>
</p>


<% if @profile.guild %>
	<p>
		Guild: <b><%= @profile.guild.name %></b>
	</p>
<% end %>

<p>
	<% if current_user != @profile and @profile.state == "online" %>
		<%= render 'game/rules_form' %>
		<%= render 'game/rules_modal' %>
	<% end %>
</p>

<% if current_user == @profile %>
	<p>
		otp required: <b><%= @profile.otp_required_for_login == true %></b>
	</p>

	<%= link_to raw('Edit<br>'), edit_profile_path(@profile) %>
<% else %>
	<% if current_user.friends.exclude?(@profile) %>
		<%= link_to raw('Add to friend<br>'), profile_friends_path(current_user, friendship: {friend_b_id: @profile}, back: true), method: :post, remote: true %>
	<% else %>
		<%= link_to raw('Remove this friend<br>'), profile_friend_path(current_user, @profile, back: true), method: :delete, remote: true %>
	<% end %>
	<% if current_user.mutes.exclude?(@profile) %>
		<%= link_to raw('Mute this user<br>'), profile_mutes_path(current_user, muteship: {muted_id: @profile}, back: true), method: :post, remote: true %>
	<% else %>
		<%= link_to raw('Unmute this user<br>'), profile_mute_path(current_user, @profile, back: true), method: :delete, remote: true %>
	<% end %>
<% end %>

<br><hr>

<h3>Match history</h3>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Player 1</th>
			<th scope="col"></th>
			<th scope="col">Player 2</th>
			<th scope="col">Type</th>
			<th scope="col">Date</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @matchs_history.each do |match| %>
			<tr>
				<td><%= is_winner_bold(match.player1.nickname, match.player1, match.winner) if match.player1 %></td>
				<td>
					<%= is_winner_bold(match.player1_pts, match.player1, match.winner) %>
					-
					<%= is_winner_bold(match.player2_pts, match.player2, match.winner) %>
				</td>
				<td><%= is_winner_bold(match.player2.nickname, match.player2, match.winner) if match.player2 %></td>
				<td><%= match.mode %></td>
				<td><%= create_timeago(match.updated_at) %></td>
				<td><%= link_to 'Open', match %></td>
			</tr>
		<% end %>
	</tbody>
</table>
