<h1>Your profile</h1>

<%= form_with(model: @user, local: true) do |form| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@report.errors.count, "error") %> prohibited this modification from being saved:
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :login %><br>
		<%= @user[:login] %>
	</p>

	<p>42 Login: <b><%= current_user[:login] %></b></p>
	<p>Display Name: <b><%= current_user[:nickname] %></b></p>
	<p>email: <b><%= current_user[:email] %></b></p>
<% end %>
