<%= form_with(model: war) do |form| %>
	<div class="field">
		<%= form.label :guild %>
		<%= form.collection_select :guild2_id, Guild.all.where.not(id: current_user.guild), :id, :name %>
		<%= form.error_for :guild2_id %>
	</div>

	<div class="field">
		<%= form.label :start_at %>
		<%= form.datetime_select :start_at %>
		<%= form.error_for :start_at %>
		<h6><b>WARNING:</b> This DateTime is in UTC (-<%= DateTime.now.utc_offset / 1.hours %>h)</h6>
	</div>

	<div class="field">
		<%= form.label :end_at %>
		<%= form.datetime_select :end_at %>
		<%= form.error_for :end_at %>
		<h6><b>WARNING:</b> This DateTime is in UTC (-<%= DateTime.now.utc_offset / 1.hours %>h)</h6>
	</div>

	<div class="field">
		<%= form.label :points_to_win %>
		<%= form.number_field :points_to_win %>
		<%= form.error_for :points_to_win %>
	</div>

	<div class="field">
		<%= form.label :all_match %>
		<%= form.check_box :all_match %>
		<%= form.error_for :all_match %>
		<p>Check this box if you want all matchs played on tournaments or ladder counts in wars points</p>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
