<table>
  <thead>
    <tr>
      <th>Player1</th>
      <th>Player2</th>
      <th>Status</th>
      <th>Winner</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament.games.each do |game| %>
      <tr>
        <td><%= create_user_link(game.player1, false) %></td>
        <td><%= create_user_link(game.player2, false) %></td>
        <td><%= game.status %></td>
        <td><% if game.winner %> <%= game.winner.nickname %> <% end %></td>
        <td><%= game.start_time %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>
