<p id="notice"><%= notice %></p>

<h1>Admin Tournaments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Mode</th>
      <th scope="col">Players</th>
      <th scope="col">Points award</th>
      <th scope="col">Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.mode %></td>
        <td><%= "#{tournament.users.count}/#{tournament.max_player}" %></td>
        <td><%= tournament.points_award %></td>
        <td><%= tournament.start_time %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Destroy', admin_tournament_path(tournament, back: true), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_admin_tournament_path %>
