<%= form_with(model: @room) do |form| %>
	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
		<%= form.error_for :name %>
	</p>

	<p>
		<%= form.label :password %><br>
		<%= form.password_field :password %>
		<%= form.error_for :password %>
	</p>

	<p>
		<%= form.radio_button :privacy, "public", :checked => true %>
		<%= form.label :privacy, "Open room", :value => "public" %>
		<br>
		<%= form.radio_button :privacy, "private" %>
		<%= form.label :privacy, "Secret room", :value => "private" %>
	</p>

	<p>
		<%= form.submit "Save", class: 'btn btn-success' %>
	</p>
<% end %>
