<h4>Please enter <%= @room.name %>'s password</h4>

<%= form_with(url: passwordset_room_path, method: "post") do %>
	<%= label_tag(:password, "Password:") %>
	<%= password_field_tag(:password) %>
	<%= submit_tag("Enter") %>
<% end %>
