<h1 class="room-name">
	<%= @room.name %>
</h1>
<button onClick="updateSettings()">Settings</button>

<div class="row">
	<div class="room_users col-12 col-md-3">
	</div>

	<div class="col">
		<div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
			<% @room_messages.each do |room_message| %>
				<div class="chat-message-container">
					<div class="row no-gutters">
						<div class="col-auto text-center">
							<img src="<%= url_for(room_message.user.profile_pic) %>" class="avatar" alt="" title="<%= room_message.user.nickname %>">
						</div>

						<div class="col">
							<div class="message-content">
								<p class="mb-1 ml-1">
									<%= room_message.message %>
								</p>

								<div class="text-right">
									<small>
										<time class="timeago" datetime="<%= room_message.created_at.in_time_zone('Europe/Paris').strftime("%F %T") %>"></time>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<%= form_with(model: @room_message, remote: true) do |form| %>
			<div class="input-group mb-3">
				<%= form.text_field :message, as: :string,
																 wrapper: false,
																 label: false,
																 input_html: {
																	 class: 'chat-input'
																 } %>
				<div class="input-group-append">
					<%= form.submit "Send", class: 'btn btn-primary chat-input' %>
				</div>
			</div>

			<%= form.hidden_field :room_id %>
		<% end %>
	</div>
</div>
<div class="d-none" data-role="message-template">
	<div class="chat-message-container">
		<div class="row no-gutters">
			<div class="col-auto text-center">
				<img src="" class="avatar" alt="" data-role="user-avatar">
			</div>

			<div class="col">
				<div class="message-content">
					<p class="mb-1 ml-1" data-role="message-text"></p>

					<div class="text-right">
						<small data-role="message-date"><time></time></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/template" class="room_users-template">
	<h4>Owner</h4>
	<%%= format_bold(owner) %>
	<hr>
	<h4>Admins</h4>
	<%%= _.map(admins, function(admin) {return format_bold(admin)}).join("<br>") %>
	<hr>
	<h4>Members</h4>
	<%%= _.map(members, function(member) {return format_bold(member)}).join("<br>") %>
</script>

<script type="text/template" class="room_settings-template">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Edit room settings</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="modalOutput" style="display: none;"></div>
				<h4>Name</h4>
				<input type="text" class="name" value="<%%= name %>">
				<br>
				<h4>Privacy</h4>
				<input type="text" class="privacy" value="<%%= privacy %>">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalClose">Close</button>
				<button type="button" class="btn btn-primary" id="modalSend">Edit</button>
			</div>
		</div>
	</div>
</script>

<script>
	function    format_bold(user) {
		if (user.state == "online") {
			return ("<b>" + user.nickname + "</b>");
		} else {
			return (user.nickname);
		}
	}

	function    updateView() {
		if (_.isUndefined(window.app.views.newRoomUsers)) {
			window.app.views.newRoomUsers = new window.app.views.RoomUsers();
		} else {
			window.app.views.newRoomUsers.initialize();
		}
	}

	function    updateSettings() {
		if (_.isUndefined(window.app.views.newRoomSettings)) {
			window.app.views.newRoomSettings = new window.app.views.RoomSettings();
		} else {
			window.app.views.newRoomSettings.initialize();
		}
	}

	updateView();
</script>
