<h1 class="room-name">
	<%= @room.name %>
</h1>
<% if @room.owner == current_user %>
	<button onClick="updateSettings()">Settings</button>
	<%= link_to 'Leave owner', new_room_owner_path(@room) %>
	<%= link_to 'Admins', room_admins_path(@room) %>
<% end %>
<% if @room.admins.include?(current_user) %>
	<%= link_to 'Members', room_members_path(@room) %>
	<%= link_to 'Bans', room_bans_path(@room) %>
	<%= link_to 'Mutes', room_mutes_path(@room) %>
	<% unless @room.owner == current_user %>
		| 
		<%= link_to 'Leave admins', room_admin_path(@room, current_user, back: true), method: :delete, remote: true %>
	<% end %>
<% end %>

<%= link_to 'Leave', room_member_path(@room, current_user, redirect: rooms_path), method: :delete, remote: true if @room.members.include?(current_user) and @room.admins.exclude?(current_user) %>

<div class="row">
	<div class="room_users col-12 col-md-3">
	</div>

	<div class="col">
		<%= form_with(model: @room_message, remote: true) do |form| %>
			<div class="input-group mb-3">
				<%= form.text_field :message, as: :string,
																 wrapper: false,
																 label: false,
																 input_html: {
																	 class: 'chat-input'
																 } %>
				<div class="input-group-append">
					<%= form.submit "Send", class: 'btn btn-primary chat-input' %>
				</div>
			</div>

			<%= form.hidden_field :room_id %>
		<% end %>
		<div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
			<% @room_messages.reverse_each do |room_message| %>
				<div class="chat-message-container">
					<div class="row no-gutters">
						<div class="col-auto text-center">
							<img src="<%= url_for(room_message.user.profile_pic) %>" class="avatar" alt="" title="<%= room_message.user.nickname %>">
						</div>

						<div class="col">
							<div class="message-content">
								<p class="mb-0 ml-1">
									<%= link_to profile_path(room_message.user) do %>
										<%= "#{room_message.user.guild.anagram} | " if room_message.user.guild %>
										<span id="chat_nickname"><%= room_message.user.nickname %></span>
									<% end %>
									<% if room_message.user != current_user %>
										<button type="button" data-toggle="modal" data-target="#exampleModal" id="invite_button">Invite to play</button>
									<% end %>
								</p>
								<p class="mb-1 ml-1">
									<%= room_message.message %>
								</p>

								<div class="text-right">
									<small>
										<%= create_timeago(room_message.created_at) %>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="d-none" data-role="message-template">
	<div class="chat-message-container">
		<div class="row no-gutters">
			<div class="col-auto text-center">
				<img src="" class="avatar" alt="" data-role="user-avatar">
			</div>

			<div class="col">
				<div class="message-content">
					<p class="mb-0 ml-1" data-role="message-user"></p>
					<p class="mb-1 ml-1" data-role="message-text"></p>

					<div class="text-right">
						<small data-role="message-date"><time></time></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'game/rules_modal' %>

<script type="text/template" class="room_users-template">
	<h4>Owner</h4>
	<%%= format_bold(owner) %>
	<hr>
	<h4>Admins</h4>
	<%%= _.map(admins, function(admin) {return format_bold(admin)}).join("<br>") %>
	<hr>
	<h4>Members</h4>
	<%%= _.map(members, function(member) {return format_bold(member)}).join("<br>") %>
</script>

<% if @room.owner == current_user %>
	<script type="text/template" class="room_settings-template">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Edit room settings</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="modalOutput" style="display: none;"></div>
					<h4>Name</h4>
					<input type="text" class="name" value="<%%= name %>">
					<br><br>
					<h4>Privacy</h4>
					<select class="privacy">
						<option value="public" <%%= get_privacy(privacy, "public") %>>public</option>
						<option value="private" <%%= get_privacy(privacy, "private") %>>private</option>
					</select>
					<br><br>
					<h4>Password</h4>
					<input type="checkbox" id="no-password" name="no-password" <%%= password %>>
					<label for="no-password">No password?</label>
					<br>
					<input type="password" class="password">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalClose">Close</button>
					<button type="button" class="btn btn-danger" id="modalDelete">Delete</button>
					<button type="button" class="btn btn-primary" id="modalSend">Edit</button>
				</div>
			</div>
		</div>
	</script>
<% end %>

<script>
	function	format_bold(user) {
		if (user.state == "online") {
			return ("<b>" + user.nickname + "</b>");
		} else {
			return (user.nickname);
		}
	}

	function	get_privacy(val, cmp) {
		if (val == cmp) {
			return ("selected");
		}
	}

	function    updateView() {
		if (_.isUndefined(window.app.views.newRoomUsers)) {
			window.app.views.newRoomUsers = new window.app.views.RoomUsers();
		} else {
			window.app.views.newRoomUsers.initialize();
		}
	}
	
	<% if @room.owner == current_user %>
		function    updateSettings() {
			if (_.isUndefined(window.app.views.newRoomSettings)) {
				window.app.views.newRoomSettings = new window.app.views.RoomSettings();
			} else {
				window.app.views.newRoomSettings.initialize();
			}
		}
	<% end %>

	updateView();
</script>
