<h1>
	<%= @room.name %>
</h1>

<div class="row">
	<div class="col-12 col-md-3">
		<h4>Owner</h4>
		<%= @room.owner.nickname %>
		<hr>
		<h4>Admins</h4>
		<% @room.admins.each do |admin| %>
			<%= admin.nickname unless admin == @room.owner %>
		<% end %>
		<hr>
		<h4>Members</h4>
		<% @room.members.each do |member| %>
			<%= member.nickname unless @room.admins.include?(member) || @room.owner == member %>
		<% end %>
	</div>

	<div class="col">
		<div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
			<% @room_messages.each do |room_message| %>
				<div class="chat-message-container">
					<div class="row no-gutters">
						<div class="col-auto text-center">
							<img src="<%= url_for(room_message.user.profile_pic) %>" class="avatar" alt="" title="<%= room_message.user.nickname %>">
						</div>

						<div class="col">
							<div class="message-content">
								<p class="mb-1 ml-1">
									<%= room_message.message %>
								</p>

								<div class="text-right">
									<small>
										<time class="timeago" datetime="<%= room_message.created_at.in_time_zone('Europe/Paris').strftime("%F %T") %>"></time>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<%= form_with(model: @room_message, remote: true) do |form| %>
			<div class="input-group mb-3">
				<%= form.text_field :message, as: :string,
																 wrapper: false,
																 label: false,
																 input_html: {
																	 class: 'chat-input'
																 } %>
				<div class="input-group-append">
					<%= form.submit "Send", class: 'btn btn-primary chat-input' %>
				</div>
			</div>

			<%= form.hidden_field :room_id %>
		<% end %>
	</div>
</div>
<div class="d-none" data-role="message-template">
	<div class="chat-message-container">
		<div class="row no-gutters">
			<div class="col-auto text-center">
				<img src="" class="avatar" alt="" data-role="user-avatar">
			</div>

			<div class="col">
				<div class="message-content">
					<p class="mb-1 ml-1" data-role="message-text"></p>

					<div class="text-right">
						<small data-role="message-date"><time></time></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
