<p id="notice"><%= notice %></p>

<h1>Admin Rooms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_rooms.each do |admin_room| %>
      <tr>
        <td><%= link_to 'Show', admin_room %></td>
        <td><%= link_to 'Edit', edit_admin_room_path(admin_room) %></td>
        <td><%= link_to 'Destroy', admin_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Room', new_admin_room_path %>
