<p id="notice"><%= notice %></p>

<%= link_to 'Destroy', room_path(@room, back: true), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %> | 
<%= link_to 'Back', admin_rooms_path %>
<br>

<div style="width: 100%; text-align: center;">
	<div style="width: 20%; float: left;">
		<p><b>Owner</b></p>
		<p><%= create_user_link(@room.owner) %></p>
	</div>
	<div style="width: 20%; float: left;">
		<p><b>Admins</b></p>
		<% @admins.each do |user| %>
			<p>
				<%= link_to '<<', room_owners_path(@room, owner_id: user, back: true), method: :post, remote: true %>
				<%= create_user_link(user) %>
				<%= link_to '>>', room_admin_path(@room, user, back: true), method: :delete, remote: true %>
			</p>
		<% end %>
	</div>
	<div style="width: 20%; float: left;">
		<p><b>Members</b> <%= link_to '+', new_room_member_path(@room, redirect: request.path) %></p>
		<% @members.each do |user| %>
			<p>
				<%= link_to '<<', room_admins_path(@room, room_admin: {user_id: user}, back: true), method: :post, remote: true %>
				<%= create_user_link(user) %>
				<%= link_to 'x', room_member_path(@room, user, back: true), method: :delete, remote: true %>
			</p>
		<% end %>
	</div>
	<div style="width: 20%; float: left;">
		<p><b>Bans</b></p>
		<% @room.bans.where('end_at > ?', DateTime.now.utc).each do |ban| %>
			<p><%= create_user_link(ban.user) %></p>
		<% end %>
	</div>
	<div style="width: 20%; float: left;">
		<p><b>Mutes</b></p>
		<% @room.mutes.where('end_at > ?', DateTime.now.utc).each do |mute| %>
			<p><%= create_user_link(mute.user) %></p>
		<% end %>
	</div>
</div>

<div style="width: 90%; margin: 5%; float: left; text-align: center;">
	<hr>
	<table style="width: 100%;">
		<thead>
			<tr>
				<th>Sender</th>
				<th>Message</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% @room.room_messages.order("created_at DESC").each do |message| %>
				<tr>
					<td><%= create_user_link(message.user) %></td>
					<td><%= message.message %></td>
					<td><%= message.created_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
