<%= form_with(model: profile_friend, url: profile_friends_path) do |form| %>
  <div class="field">
    <%= form.label :user %>
	<%= form.collection_select :friend_b_id, User.all - @profile.friends, :id, :nickname %>
    <%= form.error_for :friend_b_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
