<p id="notice"><%= notice %></p>

<h1>User Friends</h1>

<br>

<%= link_to 'Add Friend', new_profile_friend_path %>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nickname</th>
	  <th scope="col">Profile image</th>
	  <th scope="col">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_friends.each do |profile_friend| %>
      <tr>
        <td><%= create_user_link(profile_friend) %></td>
		<td><img src="<%= url_for(profile_friend.profile_pic) if profile_friend.profile_pic.attached? %>" style="max-height: 100px; max-width: 100px;"></td>
		<td>
			<% if profile_friend.state == "online" and Game.where("status = ? AND (player1_id = ? OR player2_id = ?)", "running", profile_friend, profile_friend).empty? == false %>
				In a game
			<% else %>
				<%= profile_friend.state %></td>
			<% end %>
        <td><%= link_to 'Destroy', profile_friend_path(@profile, profile_friend), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
