<%= form_with(model: war_time) do |form| %>
	<div class="field">
		<%= form.label :start_at %>
		<%= form.datetime_select :start_at %>
		<%= form.error_for :start_at %>
		<h6><b>WARNING:</b> This DateTime is in UTC (-<%= DateTime.now.utc_offset / 1.hours %>h)</h6>
	</div>

	<div class="field">
		<%= form.label :end_at %>
		<%= form.datetime_select :end_at %>
		<%= form.error_for :end_at %>
		<h6><b>WARNING:</b> This DateTime is in UTC (-<%= DateTime.now.utc_offset / 1.hours %>h)</h6>
	</div>

	<div class="field">
		<%= form.label :max_unanswered %>
		<%= form.number_field :max_unanswered %>
		<%= form.error_for :max_unanswered %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
