<p id="notice"><%= notice %></p>

<h1>War Times</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</td>
			<th scope="col">Start at</th>
			<th scope="col">End at</th>
			<th scope="col">Games</th>
			<th scope="col">Unanswered</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @war_times.each do |war_time| %>
			<tr>
				<td><%= war_time.id %></td>
				<td><%= create_timeago(war_time.start_at) %></td>
				<td><%= create_timeago(war_time.end_at) %></td>
				<td><%= link_to 'Open', war_time_game_index_path(@war, war_time) %></td>
				<td><%= war_time.unanswered %>/<%= war_time.max_unanswered %></td>
				<% if @war.guild1.officers.include?(current_user) and @war.state == "waiting for war times" %>
					<td><%= link_to 'Edit', edit_war_time_path(@war, war_time) %></td>
					<td><%= link_to 'Destroy', war_time_path(@war, war_time), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
				<% end %>
				<% if war_time.start_at.past? and war_time.end_at.future? %>
					<td>Active!</td>
					<td><%= link_to 'Launch a random match', creategame_war_time_path(@war, war_time), method: :post, remote: true if (war_time.war.guild1.members.include?(current_user) or war_time.war.guild2.members.include?(current_user)) and war_time.games.where.not(status: "finished").empty? and war_time.unanswered <= war_time.max_unanswered %></td>
				<% elsif war_time.end_at.past? %>
					<td>Ended</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to raw('New War Time<br>'), new_war_time_path if @war.guild1.officers.include?(current_user) and @war.state == "waiting for war times" %>
<%= link_to 'Back', @war %>
