<h1><%= @title %></h1>

<%= link_to 'Back', :back %>

<table style="width: 100%; text-align: center;">
	<tr>
		<th>ID</th>
		<th>Player 1</th>
		<th>Player 2</th>
		<th>Score</th>
		<th>Status</th>
		<th></th>
	</tr>
	<% @games.each do |game| %>
		<tr>
			<td><%= game.id %></td>
			<td <% if game.winner == game.player1 %> style="font-weight: bold;" <% end %> >
				<%= game.player1.nickname %>
			</td>
			<td <% if game.winner == game.player2 %> style="font-weight: bold;" <% end %> >
				<% if game.player2 %>
					<%= game.player2.nickname %>
				<% end %>
			</td>
			<td><%= game.player1_pts %> - <%= game.player2_pts %>
			<td><%= game.status %></td>
			<% if game.status == "running" %>
				<td><%= link_to "Spectate", controller: "game", action: "spectate", id: game.id %></td>
			<% end %>
		</tr>
	<% end %>
</table>


