<h1><%= @title %></h1>

<table class="table">
	<tr>
		<th scope="col">Player 1</th>
		<th scope="col">Player 2</th>
		<th scope="col">Score</th>
		<th scope="col">Status</th>
		<th scope="col"></th>
	</tr>
	<% @games.each do |game| %>
		<tr>
			<td <% if game.winner == game.player1 %> style="font-weight: bold;" <% end %> >
				<%= game.player1.nickname %>
			</td>
			<td <% if game.winner == game.player2 %> style="font-weight: bold;" <% end %> >
				<% if game.player2 %>
					<%= game.player2.nickname %>
				<% end %>
			</td>
			<td><%= game.player1_pts %> - <%= game.player2_pts %>
			<td><%= game.status %></td>
			<% if game.status == "running" %>
				<td><%= link_to "Spectate", controller: "game", action: "spectate", id: game.id %></td>
			<% else %>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', :back %>