<p id="notice"><%= notice %></p>

<%= link_to 'Back', admin_guilds_path %>
<br>

<div style="width: 100%; text-align: center;">
	<div style="width: 25%; float: left">
		<p><b>Owner</b></p>
		<p><%= create_user_link(@guild.owner) %></p>
	</div>
	<div style="width: 25%; float: left">
		<p><b>Officers</b></p>
		<% @officers.each do |user| %>
			<p>
				<%= create_user_link(user) %>
				<%= link_to '>>', guild_officer_path(@guild, user, back: true), method: :delete, remote: true %>
			</p>
		<% end %>
	</div>
	<div style="width: 25%; float: left">
		<p><b>Members</b></p>
		<% @members.each do |user| %>
			<p>
				<%= link_to '<<', guild_officers_path(@guild, guild_officer: {user_id: user}, back: true), method: :post, remote: true %>
				<%= create_user_link(user) %>
			</p>
		<% end %>
	</div>
	<div style="width: 25%; float: left">
		<p><b>Pending invitations</b></p>
		<% @invits.each do |user| %>
			<p>
				<%= create_user_link(user) %>
			</p>
		<% end %>
	</div>
</div>
