<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mode %>
    <%= form.text_field :mode %>
  </div>

  <div class="field">
    <%= form.label :max_player %>
    <%= form.number_field :max_player %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :points_award %>
    <%= form.number_field :points_award %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
