<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Player1</th>
      <th scope="col">Player2</th>
      <th scope="col">Status</th>
      <th scope="col">Winner</th>
      <th scope="col">Start time</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament.games.order("start_time ASC, status ASC").each do |game| %>
      <tr>
        <td><%= game.player1.nickname %></td>
        <td><%= game.player2.nickname %></td>
        <td><%= game.status %></td>
        <td><% if game.winner %> <%= game.winner.nickname %> <% end %></td>
        <td><%= game.start_time %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>
