<p id="notice"><%= notice %></p>

<h1>Tournaments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Mode</th>
      <th scope="col">Max player</th>
      <th scope="col">Registered</th>
      <th scope="col">Points award</th>
      <th scope="col">Start time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.mode %></td>
        <td><%= tournament.max_player %></td>
        <td><%= tournament.users.count %></td>
        <td><%= tournament.points_award %></td>
        <td><%= tournament.start_time %></td>
        <td><%= link_to 'Show', tournament %></td>
        <% if Time.now < tournament.start_time and !current_user.tournaments.include?(tournament) %>
          <td><%= link_to 'Register', register_tournament_path(tournament), method: :post, remote: true %></td>
        <% elsif current_user.tournaments.include?(tournament) %>
          <td> Registered</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
