<p id="notice"><%= notice %></p>

<p>
  <strong>Mode:</strong>
  <%= @tournament.mode %>
</p>

<p>
  <strong>Max player:</strong>
  <%= @tournament.max_player %>
</p>

<p>
  <strong>Start at:</strong>
  <%= create_timeago(@tournament.start_time) %>
</p>

<p>
  <strong>Points award:</strong>
  <%= @tournament.points_award %>
</p>

<% if @tournament.winner %>
  <p>
    <strong>Winner:</strong>
      <%= @tournament.winner.nickname %>
  </p>
<% end %>

<h4>Games:</h4>
<%= render 'games' %>
<h4>Ranking:</h4>
<%= render 'ranking' %>

<%= link_to 'Back', tournaments_path %>
