<!DOCTYPE html>
<html>
	<head>
		<title>transcendence</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body controller="<%= ({controller: controller_path, action: action_name}).to_json %>">
		<% if !@nonavbar && user_signed_in? %>
			<nav class="navbar navbar-light" style="align-items: first baseline;">
				<%= link_to root_path, class: 'navbar-brand' do %>
					<img src='<%= asset_path('42-header.svg') %>' height='60px'>
				<% end %>
				<ul class="navbar-nav mr-auto responsive-large" style="flex-direction: row;">
					<% unless Rails.application.routes.recognize_path(request.env['PATH_INFO'])[:controller][..4] == "admin" %>
							<button id="play_matchmaking" type="button">Play</button>
						<%= link_to profile_path(current_user), class: 'navbar-item navbar-btn' do %>
							<button type="button">My Profile</button>
						<% end %>
						<%= link_to profile_friends_path(current_user), class: 'navbar-item navbar-btn' do %>
							<button type="button">My Friends</button>
						<% end %>
						<%= link_to profiles_path, class: 'navbar-item navbar-btn' do %>
							<button type="button">Users</button>
						<% end %>
						<%= link_to rooms_path, class: 'navbar-item navbar-btn' do %>
							<button type="button">Rooms</button>
						<% end %>
						<%= link_to guilds_path, class: 'navbar-item navbar-btn' do %>
							<button type="button">Guilds</button>
						<% end %>
						<% if current_user.staff %>
							<%= link_to admin_rooms_path, class: 'navbar-item navbar-btn' do %>
								<button type="button">Admins</button>
							<% end %>
						<% end %>
					<% else %>
						<%= link_to root_path, class: 'navbar-item navbar-btn' do %>
							<button type="button">Site</button>
						<% end %>
						<%= link_to admin_rooms_path, class: 'navbar-item navbar-btn' do %>
							<button type="button">Rooms</button>
						<% end %>
						<%= link_to admin_guilds_path, class: 'navbar-item navbar-btn' do %>
							<button type="button">Guilds</button>
						<% end %>
					<% end %>
				</ul>
				<ul class="navbar-nav">
					<li id="navbar-user" class="nav-item navbar-btn">
						<button type="button" data-toggle="collapse" data-target="#user-logout" aria-controls="user-logout" aria-expanded="false">
						<img src="<%= url_for(current_user.profile_pic) %>" class="avatar">
							<span id="nav-nickname" class="responsive-large" userid="<%= current_user[:id] %>" userlogin="<%= current_user[:login] %>" usernickname="<%= current_user[:nickname] %>">
								<%= current_user[:nickname] %>
							</span>
						</button>
						<div id="user-logout" class="collapse">
							<hr>
							<%= link_to raw("
								<img src=" + asset_path('logout.svg') + " class='logo-svg' style='height: 35px;margin-right: 15px;'>
								<span>Sign out</span>"),
							destroy_user_session_path, :method => :delete %>
						</div>
					</li>
				</ul>
			</nav>
		<% end %>

		<div id="toast-container" aria-live="polite" aria-atomic="true" style="position: relative; z-index: 10;">
			<div style="position: absolute; top: 0; right: 0;">
				<% if notice || alert %>
					<% if notice %>
						<%= create_alert(notice) %>
					<% end %>
					<% if alert %>
						<%= create_alert(alert) %>
					<% end %>
				<% end %>
			</div>
		</div>

		<div id="alerts-div" data-turbolinks-permanent>
			<div class="alert alert-warning alert-dismissible fade show" style="display: none;" role="alert">
			  <span id="alert-text"></span>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>


		<div class="page-content">
			<%= yield %>
		</div>
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalLabel">Fabulous Title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>My body olala</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalClose">Close</button>
						<button type="button" class="btn btn-primary" id="modalSend">YES</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
