<!DOCTYPE html>
<html>
	<head>
		<title>transcendence</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width" />
	</head>

	<body controller="<%= ({controller: controller_path, action: action_name}).to_json %>" mutes="<%= current_user.mutes.map(&:id) if user_signed_in? %>">
		<% if user_signed_in? %>
			<% @navbar = true unless @navbar %>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<% if @navbar and current_user.otp_accepted == true and current_user.nickname.nil? == false and Ban.exists?(login: current_user.login) == false %>
					<%= link_to root_path, class: 'navbar-brand' do %>
						<img src='<%= asset_path('42-header-white.svg') %>' height='60px'>
					<% end %>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
						<ul class="navbar-nav mr-auto responsive-large">
							<% unless Rails.application.routes.recognize_path(request.env['PATH_INFO'])[:controller][..4] == "admin" %>
								<li class="nav-item">
									<a href="#" id="play_matchmaking" class="nav-link">Matchmaking</a>
								</li>
								<li class="nav-item">
									<a href="/play" class="nav-link">Quick game</a>
								</li>
								<li class="nav-item">
									<%= link_to "Users", profiles_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Rooms", rooms_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "DM", dms_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Guilds", guilds_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Notifications", notifications_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Wars", wars_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Tournaments", tournaments_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Games", game_index_path, class: 'nav-link' %>
								</li>
							<% else %>
								<li class="nav-item">
									<%= link_to "Site", root_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Rooms", admin_rooms_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Guilds", admin_guilds_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Tournaments", admin_tournaments_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Bans", admin_bans_path, class: 'nav-link' %>
								</li>
								<li class="nav-item">
									<%= link_to "Moderators", admin_moderators_path, class: 'nav-link' %>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="dropdown">
					<button class="dropdown-toggle bg-dark" type="button" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="<%= url_for(current_user.profile_pic) %>" class="avatar">
						<span id="nav-nickname" class="responsive-large text-white" userid="<%= current_user[:id] %>" userlogin="<%= current_user[:login] %>" usernickname="<%= current_user[:nickname] %>">
							<%= current_user[:nickname] %>
						</span>
					</button>
					<div class="dropdown-menu dropdown-menu-right navbar-dark bg-dark" aria-labelledby="navbarDropdown" id="user-logout" style="text-align: center;">
						<% if @navbar and current_user.otp_accepted == true and current_user.nickname.nil? == false and Ban.exists?(login: current_user.login) == false %>
							<a class="nav-link" href="#" onClick="reloadWithTurbolinks();">Refresh</a>
							<%= link_to "My profile", profile_path(current_user), class: 'nav-link' %>
							<% unless current_user.guild.nil? %>
								<%= link_to "My guild", guild_path(current_user.guild), class: 'nav-link' %>
							<% end %>
							<%= link_to "My friends", profile_friends_path(current_user), class: 'nav-link' %>
							<%= link_to "Muted users", profile_mutes_path(current_user), class: 'nav-link' %>
							<% if current_user.staff %>
								<%= link_to "Admin panel", admin_rooms_path, class: 'nav-link' %>
							<% end %>
						<% end %>
						<div class="dropdown-divider"></div>
						<%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-link' %>
					</div>
				</div>
			</nav>
		<% end %>

		<div id="toast-container" aria-live="polite" aria-atomic="true" style="position: relative; z-index: 10;">
			<div style="position: absolute; top: 0; right: 0;">
				<% if notice || alert %>
					<% if notice %>
						<%= create_alert(notice) %>
					<% end %>
					<% if alert %>
						<%= create_alert(alert) %>
					<% end %>
				<% end %>
			</div>
		</div>

		<div id="alerts-div" data-turbolinks-permanent>
			<div class="alert alert-warning alert-dismissible fade show" style="display: none;" role="alert">
			  <span id="alert-text"></span>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>

		<div class="page-content">
			<%= yield %>
		</div>
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
	</body>
</html>
