<%= form_for(user_friend, :as => "friendship", url: user_friends_path, local: true) do |form| %>
  <% if user_friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_friend.errors.count, "error") %> prohibited this user_friend from being saved:</h2>

      <ul>
        <% user_friend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
	<%= form.collection_select :friend_b_id, User.all - @user.friends, :id, :nickname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
